<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/base.html"
      xmlns:th="http://www.thymeleaf.org">


<div layout:fragment="content" class="mt-3">
    <h2 class="text-center">Welcome to Admin Control page</h2>
    <section class="section mt-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Users Table</h5>

                        <!-- Default Table -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Avatar</th>
                                <th scope="col">Username</th>
                                <th scope="col">Full name</th>
                                <th scope="col">Data registration</th>
                                <th scope="col">ban - unban</th>
                            </tr>
                            </thead>
                            <tbody id="table_data">
                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>

            </div>

        </div>
    </section>

    <script>
        $(document).ready(function () {
            getUsers();
        });

        const getUsers = () => {
            $.ajax({
                'url': "/api/v1/admin/users",
                'method': "GET",
                'contentType': 'application/json'
            }).done(function (data) {
                console.log(data);
                const users = data;
                let table_data_values = "";
                for (let i = 0; i < users.length; i++) {
                    const user = users[i];
                    let userFullName = (user.firstName && user.lastName) ? `${user.firstName} ${user.lastName}` :
                        user.firstName ? user.firstName :
                            user.lastName ? user.lastName : user.username;
                    let btn =
                        user.banned ? "<button class='btn btn-success btn-sm' onclick='banUser(" + user.id + ", false)'>Unban</button>" :
                            "<button class='btn btn-danger btn-sm' onclick='banUser(" + user.id + ", true)'>Ban</button>";
                    table_data_values += "<tr>" +
                        "<td width='10%'> <img width='20px' height='20px' src='" + user.avatar + "' alt=''></td>" +
                        "<td> <a href='/profile/" + user.username + "'>" + user.username + "</a></td>" +
                        "<td>" + userFullName + "</td>" +
                        "<td>" + user.createdAt + "</td>" +
                        "<td>" + btn + "</td>" +
                        "</tr>";

                }

                $("#table_data").html(table_data_values);
            })
        }

        function banUser(userId, banned) {
            console.log(userId, banned);
            const url = "/api/v1/admin/users/toggle/ban";
            const data = {user_id: userId, banned: banned};
            $.post(url, data, function (data) {
                console.log(data);
                getUsers();
            })
        }
    </script>
</div>


</html>