<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:href="@{'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'}" rel="stylesheet">
    <link
            class="jsbin"
            th:href="@{'http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css'}"
            rel="stylesheet"
            type="text/css"
    />
    <script
            class="jsbin"
            th:src="@{'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}"
    ></script>
    <script
            class="jsbin"
            th:src="@{'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js'}"

    ></script>
    <!-- Favicons -->
    <link th:href="@{'/navbar/assets/img/favicon.png'}" rel="icon">
    <link th:href="@{'/navbar/assets/img/apple-touch-icon.png'}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link th:href="@{'https://fonts.gstatic.com'}" rel="preconnect">
    <link th:href="@{'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i'}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{'/navbar/assets/vendor/bootstrap/css/bootstrap.min.css'}" rel="stylesheet">
    <link th:href="@{'/navbar/assets/vendor/bootstrap-icons/bootstrap-icons.css'}" rel="stylesheet">
    <link th:href="@{'/navbar/assets/vendor/boxicons/css/boxicons.min.css'}" rel="stylesheet">
    <link th:href="@{'/navbar/assets/vendor/remixicon/remixicon.css'}" rel="stylesheet">
    <link th:href="@{'/navbar/assets/css/style.css'}" rel="stylesheet">
</head>
<body>

<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a th:href="@{'/'}" class="logo d-flex align-items-center">
            <img th:src="@{'/navbar/assets/img/logo.png'}" alt="">
            <span class="d-none d-lg-block">Post</span>
        </a>
        <i class="bx bx-menu toggle-sidebar-btn"></i>
    </div>

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="get" th:action="@{'/search'}">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div>

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li>
            <li class="nav-item dropdown pe-3" sec:authorize="isAuthenticated()">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img th:src="${globalAuthUser.loadUserAvatar()}" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${globalAuthUser.username}"></span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6  th:text="${globalAuthUser.username}"></h6>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{'/profile'}">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form id="logoutForm" style="overflow: hidden" th:action="@{'/logout'}" method="post"></form>
                        <button onclick="submitBtn()" style="border: none" class="dropdown-item d-flex align-items-center" href="">
                            <i class="bi bi-box-arrow-right"></i><span>Sign Out</span>
                        </button>
                        <script>
                            const submitBtn = () => document.getElementById("logoutForm").submit();
                        </script>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
        </ul>
    </nav>
</header>

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/">
                <i class="bi bi-app"></i>
                <span>home</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link collapsed" th:href="@{'/login'}">
                <i class="bi bi-door-closed"></i>
                <span>login</span>
            </a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link collapsed" th:href="@{'/register'}" >
                <i class='bx bxs-user-check'></i>
                <span>register</span>
            </a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link collapsed" th:href="@{'/profile'}">
                <i class="bi bi-file-person-fill"></i>
                <span>profile </span>
            </a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link collapsed" th:href="@{'/friends/' +${globalAuthUser.username}}">
                <i class="bi bi-people"></i>
                <span>friends</span>
            </a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link collapsed" th:href="@{'/groups/'+${globalAuthUser.username}}">
                <i class="bi bi-people"></i>
                <span>groups</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link collapsed">
                <i class="bx bx-cog"></i>
                <span>settings</span>
            </a>
        </li>
    </ul>

</aside>
<main id="main" class="main">
    <div layout:fragment="content">

    </div>

</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{'/navbar/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<!-- Template Main JS File -->
<script th:src="@{'/navbar/assets/js/main.js'}"></script>

</body>
</html>