<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/base.html"
      xmlns:th="http://www.thymeleaf.org">


<div layout:fragment="content" class="mt-3">
    <div class="row justify-content-center">

        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.auth_error!=null}">
            Incorrect email or password or this user banned!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="col-lg-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Sign in</h5>
                        <p class="text-center small">Enter your login details</p>
                    </div>

                    <form class="row g-3 needs-validation" novalidate th:action="@{'/to-enter'}" method="post">
                        <div class="col-12">
                            <label for="yourUsername" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                <input type="text" name="username" class="form-control" id="yourUsername" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="yourPassword" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="yourPassword" required>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">Sign in</button>
                        </div>
                        <div class="col-12">
                            <p class="small mb-0">Already have an account? <a th:href="@{'/register'}">Sign up</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
